.MainLogo {
    margin-top: 7%;
  margin-left: 25px;
  margin-bottom: 20px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  border: rgb(0, 0, 0) solid;
  border-width: 6px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  animation: pulse;
  animation-duration: 2s;
}
.MainLogo:hover {
  border: rgb(0, 0, 0) solid;
  border-width: 6px;
  border-style: outset;
  -webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  border-radius: 100px;
  border-width: 6px;
  border-style: solid;
}
.sidenav {
  background-color: black;
  box-sizing: border-box;
  border: aqua 5px solid;
  float: right;
}
.maintitle {
  animation: rubberBand;
  animation-delay: 0.5s;
  animation-duration: 2s;
}
.continue {
  background-color: rgb(10, 118, 104);
  border: rgb(0, 0, 0) 3px solid;
  width: 200px;
  padding: 20px;
  margin-left: 45%;
  margin-top: 30px;
  border-radius: 20px;
  animation: pulse;
  animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
li {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  color: #eee;
  animation: shakeX;
  animation-duration: 2s;
  animation-delay: 3s;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 20px;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}