
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", Helvetica, sans-serif;
}

body,
html {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
}

@media (min-width: 1025px) {
    .main {
      padding-bottom: 10%;
    }
  }

#bg {
    /*background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                linear-gradient(to top right, #594e87, #58466f, #8c5470, #E05352, #C57A6E, #F59B96, #F27684, #EC586D, #D34052, #C53F4A, #E77A64);*/
    background: rgb(67, 56, 223);
    background: linear-gradient(to top right, rgba(67,56,223,1), rgb(20, 27, 85));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: #eee;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

.socials ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: #eee;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
h1 {
    font-size: 100px;
    color: #eee;   
    text-shadow: 0 1px 0 #999, 
                0 2px 0 #999999,
                0 3px 0 #888,
                0 4px 0 #898989,
                0 5px 0 #777,
                0 6px 1px rgba(0,0,0,.2),
                0 0 5px rgba(0,0,0,.2),
                0 1px 3px rgba(0,0,0,.4),
                0 3px 5px rgba(0,0,0,.3),
                0 5px 10px rgba(0,0,0,.35),
                0 10px 10px rgba(0,0,0,.3),
                0 20px 20px rgba(0,0,0,.25);
                animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


.socials ul {
    margin-top: 30px;
}
.navbar a.active {
    background-color: rgb(69, 67, 67);
    color: white;
}
.socials ul li {
    color: #eee;
    margin: 0 15px;
    font-size: 30px;
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    background: rgba(0,0,0,0.2);
}
.navbar {
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
.socials ul li:hover {
    transform: scale(1.2);
}

.ide {
    position: fixed;
    bottom: 10px;
    left: 30px;
}

.ide p:link, p:visited {
    color: #ccc;
    letter-spacing: 1.2px;
    font-weight: 200;
    text-decoration: none!important;
}

.noDecoration, a:link, a:visited {
    color: #ccc;
    letter-spacing: 1.2px;
    font-weight: 200;
    text-decoration: none!important;
}

@media (max-width: 660px) {
    h1 {
        font-size: 55px;
    }

    .socials ul li {
        font-size: 20px;
        margin: 0 7px;
        width: 45px;
        height: 45px;
    }
    }

@media (max-width: 350px) {
    h1 {
        font-size: 38px;
    }

    .socials ul li {
        font-size: 17px;
        margin: 0 5px;
        width: 35px;
        height: 35px;
    }
    iframe {
        animation: fadeIn linear 2s;
        -webkit-animation: fadeIn linear 2s;
        -moz-animation: fadeIn linear 2s;
        -o-animation: fadeIn linear 2s;
        -ms-animation: fadeIn linear 2s;
    }
      .box {
        background-color: rgb(44, 23, 208);
        border: black solid 1px;
        border-radius: 100px;
        padding: 10px;
        box-sizing: content-box;
    }
    .box:hover {
        background-color: rgb(37, 37, 199);
        border-style: groove;
    }
    hr {
        border-color: black;
        width: 100%;
        height: 1px;
    }
}