body {
    background-image: url(https://github.com/geosjobby/geosjobby.github.io/blob/main/backroundindex.gif?raw=true);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
