body {
    background-image: url(https://github.com/geosjobby/geosjobby.github.io/blob/main/backroundindex.gif?raw=true);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

h1 {
    box-shadow: inset 50 0 0 0 yellow;
    transition: 0.3s;
    outline: none;
}
.img-home {
    width: 1200;
    position: absolute;
    right: 115;
}
